
.col-xs-15, .col-xs-18 {
    float: right;
}

@media (min-width: 768px) {
.col-sm-15, .col-sm-18 {
        float: right;
    }
}

@media (min-width: 992px) {
    .col-md-15, .col-md-18 {
        float: right;
    }
}

@media (min-width: 1200px) {
    .col-lg-15, .col-lg-18 {
        float: right;
    }
}