/*
Theme Name: Buki
Theme URI: 
Author: CodeArt
Author URI: http://codeart.co.il/
Description: buki Flowers Wordpress theme
Version: 0.2
License: GNU General Public License v3.0 /
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: gray, light, two-columns, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, featured-images, flexible-header, sticky-post,  theme-options, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

This theme is the most seamless and minimalistic integration of Twitter Bootstrap Framework into
the _s starter theme from Automattic, the guys behind WordPress.

_s (or Underscores) http://underscores.me/, (C) 2012-2013 Automattic, Inc. Twitter Bootstrap

Credits:
1. Bootstrap

 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)

 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=f58353a31151a8c05d7c)
 * Config saved to config.json and https://gist.github.com/f58353a31151a8c05d7c

2. wp_bootstrap_navwalker

* Class Name: wp_bootstrap_navwalker
* GitHub URI: https://github.com/twittem/wp-bootstrap-navwalker

3. Glyphicons

 * http://getbootstrap.com/components/

*/


@import url('https://fonts.googleapis.com/css?family=Assistant:400,700');

/* Bootstrap 5 columns */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15,
.col-xs-18,
.col-sm-18,
.col-md-18,
.col-lg-18  {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


.col-xs-15 {
    width: 20%;
    float: left;
}
.col-xs-18 {
    width: 12.5%;
    float: left;
}

@media (min-width: 768px) {
	.col-sm-15 {
        width: 20%;
        float: left;
    }
    .col-xs-18 {
        width: 12.5%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
    .col-md-18 {
        width: 12.5%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
	.col-lg-18 {
	    width: 12.5%;
	    float: left;
	}
}
/* My Minimal WordPress Styling comes here */

/* This is a small security for too long strings titles */
body {
	word-wrap: break-word;
	font-family: 'Assistant', Arial;
	font-weight: 400;
	color:#414141;
	padding-top: 168px;
}
body.admin-bar{padding-top: 200px}
body.admin-bar #masthead{top:32px;}
body.admin-bar.scroll #masthead{top:0;}
h1, h2, h3, h4, h5, h6 {font-family: 'Assistant'; font-weight: 400}
h1{font-size: 100px}
h2{font-size: 60px}
.container{width:82%}
.container-fluid{padding-left:0; padding-right:0;}
/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}


/* Images and wp-captions should always fit and be responsive */
img {
	display: inline-block;
	height: auto;
	max-width: 100%;
}
img[class*="wp-image-"] {
	margin-top: 10px;
	margin-bottom: 10px;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 10px;
	max-width: 100%;
	border-radius: 4px;
	padding: 0 10px;
}
.wp-caption.aligncenter {
	margin-bottom: 10px;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
}
.wp-caption .wp-caption-text {
	text-align: center;
	margin-top: 10px;
}

/* WP Gallery */
.gallery {
	margin-bottom: 1.5em;
}
.gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.gallery dd {
	margin: 0;
}
.gallery-caption {
	display: block;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}


/* Content */
.main-content-inner {
	padding-bottom: 1.5em;
}
.hentry {
	margin: 0 0 1.5em;
}
.sticky {
	display: block;
}
.bypostauthor {
	display: block;
}


/* Clearing */
.clear {
	clear: both;
}

/* Navigation */

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:active>.dropdown-menu, .dropdown-submenu:hover>.dropdown-menu {
display: block;
}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:active>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


/* Here some needed widget styles
 * Most widgets are adapted in the file bootstrap-wp.js - and REALLY easy to modify! ;) */
.widget { margin-bottom: 2em; }
.widget_nav_menu ul.sub-menu li, .widget_pages ul.children li { padding-left: 15px; }

/* Hiding the search widget's button in widgets. thats just too old-skool. :) but if you want it back, just delete the next line.
 * Note: you can change the whole appearance of the search_form() function in our searchform.php */
.widget_search .search-form input[type="submit"] { display: none; }

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Nested comments? They are threaded and nested already, you just need to add your own styling to finalize!
 * For example with some margin, like the line below ;) Delete, modify, change classes in HTML if you desire another style */
 .comment .children { margin-left: 1.5em; }

/**
* Some WP Theme Repository requirements
*/

.sticky {
}

.gallery-caption {

}

.bypostauthor {

}

.entry-meta {
	clear: both;
}
input:focus{outline: none;}

/* Colors */
a{color:#414141;}
.yellowbg{background-color: #ffb703; color:#fff;}
.whitebg {background: #fff}
.grey-blue-bg{background: #dfe5e7}
.reddish {background: #dad4d9}
.white{color:#fff;}

.greyish{background: #d3dddd}
.buki-btn{display: inline-block; width:158px; height: 50px; line-height: 50px; border-radius: 0; text-align: center; border:none}
.buki-btn:hover, .buki-btn:active, .buki-btn:focus{color:#fff; background: hsl(42.9, 100%, 40.6%)}
button.buki-btn{position: relative; right:-3px; height:44px; line-height: 43px; width:146px;}
.hover{ background: rgba(0, 0, 0, 0.4); position: absolute; top:0; left:0; width:100%; height:100%; transition: all 0.5s ease;}

.yellowbg a, .buki-btn a, .yellowbg a:hover, .buki-btn a:hover, .yellowbg a:focus, .buki-btn a:focus, .yellowbg a:visited, .buki-btn a:visited{color: #fff}

.f-16 {font-size: 16px;}
.f-18 {font-size: 18px;}
.f-24 {font-size: 24px;}
.f-30 {font-size: 30px; line-height: 30px}
.f-36 {font-size: 36px}
.f-60 {font-size: 60px}
.bb{background: url(images/divider.png) bottom right no-repeat;}

/* Header */
#masthead{padding: 11px 5% 13px; background: #e6eef0}
.site-title {line-height: 0; margin-top: 0; margin-bottom: 0}
.site-title a{text-indent:-9999px; background: url(images/logo.png) no-repeat top center; width:218px; height: 141px; background-size: 100%; overflow: hidden; display: block;}

.site-navigation{padding:47px 8%; }
.navbar-default{background: transparent; border:none;}
#main-menu{width: 100%}
#main-menu li{background-color: #ffb703; color:#fff; margin-right: 4%; text-align: center;  width:30%;}
#main-menu li:hover, #main-menu li:active, #main-menu li:focus{color:#fff; background: hsl(42.9, 100%, 40.6%)}
#main-menu li a{color:#fff; padding-top: 0; padding-bottom: 0; height: 50px; line-height: 50px;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{background: transparent;}
#main-menu li:first-child{margin-right: 0}
#masthead .buki-btn{margin-top: 47px}
#masthead .navbar{margin-bottom: 0}

/* scroll */
.scroll #masthead { border-bottom: 1px solid #ffb703; padding-bottom: 6px}
.scroll #masthead .site-title a {width: 109px; height: 70px;}
/*#masthead.scroll #main-menu li a {height:30px; line-height: 30px}*/
.scroll #masthead .buki-btn {margin-top: 0px; }
.scroll #masthead .site-navigation {padding:5px 8%}

#private_area{font-size: 18px; line-height:22px; text-decoration: none; font-weight: bold};
#private_area>span{font-size: 16px; text-decoration: none; display: block;}
.filter-container{max-width:932px;  width:100%; margin:0 auto; background-color: #fff; height:100px; padding: 28px 0;}
.single-buki_order .filter-container{padding-top: 0}
.filter-container select, .filter-container input{width:140px; height:44px; margin-right: -5px; line-height: 44px; padding: 0 21px;}
.filter-container select, .filter-container input[type='text']{ max-width:264px; width:25%;}
.filter-container input[type='submit']{ border:none; margin-right: -5px; position: relative;}
.whitebg #filter-nav{margin:0 auto; background-color: #fff; height:100px; line-height: 100px; font-size: 16px; font-weight: 600}

/* Main Content */
.main-content {padding-top: 80px; padding-bottom: 60px}
.arthead{text-align: center; position: relative;}
.arthead h1 {position: absolute; top: 25%; color:#fff; width:100%;}

#splash{background: #e6eef0 url(images/spalsh1.png) center center no-repeat; width:100vw; height:100vh; position: fixed; top:0; right:0; z-index: 10000}

/* front-page */
.boxes{margin-right: 0; margin-left:0}
.boxes>.col-md-5, .boxes>.col-md-2, .boxes>.col-md-4, .boxes>.col-md-6, .boxes>.col-md-8, .boxes>.col-md-9, .boxes>.col-md-3, .boxes>.col-md-12{padding-left: 0; padding-right: 0}
.home #content .boxes>.tall{height:551px;}

.bottom-contact{background: url(images/img-contact.jpg) top left no-repeat; height: 551px; background-size:cover;}
.bottom-contact h2{color:#fff; font-size: 24px; margin-top: 0; padding-top: 51px; padding-bottom: 19px; margin-bottom: 0}
.bottom-contact .wpcf7{margin: 10px 12% 35px;}
.bottom-contact .wpcf7 p{margin-bottom: 20px}
.bottom-contact .wpcf7 input, .bottom-contact .wpcf7 select, .bottom-contact .wpcf7 textarea{line-height: 44px; height: 44px;  background: transparent; 
	border:1px solid #fff; color:#fff; width:100%; padding:0 21px; margin-bottom: 0px}
.bottom-contact .wpcf7 select{padding:0;}
.bottom-contact .wpcf7 textarea{ line-height: 25px; height: 100px }
.bottom-contact .wpcf7 input::placeholder,.bottom-contact .wpcf7 select::placeholder, .bottom-contact .wpcf7 textarea::placeholder{color:#fff;}
.bottom-contact .wpcf7 .phone select{width:35%;}
.bottom-contact .wpcf7 .phone input{width:65%}

.bottom-contact .wpcf7 input[type='submit']{width:30%; float:left; background-color: #ffb703; color:#fff; border:none;}
.bottom-contact .wpcf7 input[type='submit']:hover, .bottom-contact .wpcf7 input[type='submit']:active, .bottom-contact .wpcf7 input[type='submit']:focus{color:#fff; background: hsl(42.9, 100%, 40.6%)}
.top-cat{position: relative; text-align: center; background-position: center; background-size: cover; width:100%; height:275px;}
.top-cat#cat1{background-image: url(images/img-flowers.jpg)}
.top-cat#cat2{background-image: url(images/img-potted-plants.jpg)}
.top-cat#cat3{background-image: url(images/img-roses.jpg)}
.top-cat#cat4{background-image: url(images/img-accessories.jpg);}
.top-cat#cat5{background-image: url(images/img-greens.jpg)}
.top-cat .hover{opacity: 0}
.top-cat:hover .hover{opacity: 1}
.top-cat .hover h2{margin-top: 80px; margin-bottom: 20px; font-size: 36px; color:#fff;}

.slider{background: #f6f7f5; }
.slider .slick-slide {height:551px; background: #f6f7f5; padding: 66px 30px 30px}
.slider .slick-slide img{margin: 0 auto}
.slider .prod-data {position: absolute; bottom:0px; right: 0; padding: 0 30px;}
.slider .prod-data .row {margin-right: -15px; margin-left: -15px; }
.home #content .boxes .slider .prod-data .row .col-md-4, .slider .prod-data .row .col-md-8{padding-right: 15px; padding-left: 15px}
.slider .prod-data .row .buki-btn{width:100%; max-width: 158px}
[dir='rtl'] .slick-prev{right:0; width:50px; color:#fff; border:none; height: 50px; text-indent: -200px; z-index:1000;
	overflow: hidden; position: absolute; background:  #ffb703 url(images/arrow-right.png) center center no-repeat; top:45%;}
[dir='rtl'] .slick-next{left:0; width:50px; color:#fff; border:none; height: 50px; 	text-indent: -200px; z-index:1000;
	overflow: hidden; position: absolute; background:  #ffb703 url(images/arrow-left.png) center center no-repeat; top:45%;}
[dir='rtl'] .slick-prev:hover, [dir='rtl'] .slick-prev:active, [dir='rtl'] .slick-prev:focus{color:#fff; background:  hsl(42.9, 100%, 40.6%) url(images/arrow-right.png) center center no-repeat;}
[dir='rtl'] .slick-next:hover, [dir='rtl'] .slick-next:active, [dir='rtl'] .slick-next:focus{color:#fff; background: hsl(42.9, 100%, 40.6%) url(images/arrow-right.png) center center no-repeat;}
.product h2{font-size: 24px; color:#414141; margin-top: 0}
.product .info{font-size: 15px; color:#414141;}
.home .secline{padding-top: 100px; height: 795px}
.home .secline .img1{position: relative; right:-40px; z-index: 1}
.home .secline .img2 { position:absolute; top:50%;  left:5%; box-shadow: 10.6px 10.6px 30px 0 rgba(3, 3, 3, 0.49); z-index: 2; transition: all 0.5s ease;}
.home .secline .img2:hover{left:4.7%;}
.home .secline h1{color:#414141; font-size: 90px; line-height: 80px; margin-top: 66px}
.home .secline .company-about h3{line-height: 30px; font-size: 24px}
.home .secline .company-about p{font-size: 16px; line-height: 30px}
.home .secline .company-about a{display: block; margin-top: 38px}


/* about */
.page-template-about .main-content{padding-top: 0; padding-bottom: 0}
.part1{background: #dfe5e7; font-size: 16px; line-height: 30px; padding: 120px 0;}
.page-template-about h2{font-size: 60px; padding-bottom: 35px; background: url(images/divider.png) bottom right no-repeat; margin-bottom: 70px}
.page-template-about .part1 h2{background-position: bottom center}
.page-template-about .part2{font-size: 16px; line-height: 30px;}
.page-template-about .part2 .col-md-6{padding:100px 76px;}
.page-template-about .part2 .row{display: flex; }
.page-template-about .part2 .boxes img{height:100%; width:auto; max-height: 800px}

/* Contact */
.page-template-contact .main-content{padding-top: 0; padding-bottom: 0}
.page-template-contact #map iframe{width:100%; height:450px;}
.page-template-contact .part1 h1{font-size: 60px; padding-bottom: 35px; background: url(images/divider.png) bottom right no-repeat; margin-bottom: 70px}
.page-template-contact .part1 .title {margin-bottom: 27px}
.page-template-contact .part1 .title .fa{font-size: 59px; color:#a4b4ae;}
.page-template-contact .part1 .address img, .page-template-contact .part1 .contact img{margin-bottom: 27px}
.form-wrap{ background: rgba(255,255,255,0.4); -webkit-box-shadow: -10px 10px 60px 0px rgba(0,0,0,0.4); -moz-box-shadow: -10px 10px 60px 0px rgba(0,0,0,0.4);
	box-shadow: -10px 10px 60px 0px rgba(0,0,0,0.4); padding:42px 50px 0; margin-left: 20px}
.form-wrap p{margin-bottom: 0}
.form-wrap input{background: transparent; border:solid 1px #1c1c1c; max-width: 100%; padding: 0 9px; height: 42px; 
	line-height: 42px; margin-bottom: 26px}
.form-wrap textarea{height:192px; background: transparent; max-width: 100%; border:solid 1px #1c1c1c; padding: 0 9px;}
.form-wrap .wpcf7 input[type='submit']{ width:100%; height:44px; line-height: 44px; background-color: #ffb703; color:#fff; border:none;}
.form-wrap .wpcf7 input[type='submit']:hover{background: hsl(42.9, 100%, 40.6%)}
.page-template-contact .part1 a, .page-template-about .part1 a:hover{color:#414141;}
.page-template-contact .part1 .social a{margin-left: 25px}

/* Cataloge */
.page-template-catalog .featured_filter{display: none;}

.product {padding-bottom: 10px}
.product p{margin-bottom: 0px}
.prod-img {position: relative; overflow: hidden; height: auto; max-width: 100%; max-height: 215px}
.featured-sticker{position: absolute; top:0; right:0; height: 30px; line-height: 30px; background:#a9bdc4; padding:0 40px; color:#fff;}
h1.bb.f-60{margin-bottom: 68px; padding-bottom: 20px}
.prod-img .hover{opacity:0; padding:50px 0;}
.catalog_box .prod-img .hover{background: rgba(0, 0, 0, 0.5); padding-left: 15px; padding-right: 15px}
.catalog_box .prod-img .hover .buki-btn{width: 100%}
.catalog_box .prod-img .hover .fa {color:#fff;}
.prod-img:hover .hover{opacity: 1}
.tagline{margin-bottom: 40px}
.prod_selector_wrap {position: relative;}
#prod_selector {display: none; position: absolute; right:0; top:25px;}

.season_filter{direction: ltr}
.season_filter label{width:25px; height: 25px; line-height: 25px; display:inline-block; margin-right: 8px; text-align: center;}
.season_filter input[type='checkbox']:checked + label{background: #fff; border-radius: 50%;}
.wp-pagenavi{text-align: center; direction: ltr; padding-top: 90px}
.wp-pagenavi a {display: inline-block;margin-left: 11px; border:none; color:#414141; line-height: 28px; font-size: 16px; font-weight: 600}
.wp-pagenavi a:hover{text-decoration: none}
.wp-pagenavi span{background: #a9bdc4; width: 28px; height: 28px; border-radius: 50%; border:none;  display: inline-block; 
	color:#414141; text-decoration: none;}

.product {display: inline-block; height: 306px;}

.catalog_sidebar .sidebar_filter a{color:#414141;}
.catalog_sidebar .sidebar_filter a:hover, .catalog_sidebar .sidebar_filter a:focus{text-decoration: none}
.catalog_sidebar .sidebar_filter input[type='checkbox']{display: none;}
.catalog_sidebar .sidebar_filter label{font-weight: normal;}
.catalog_sidebar .sidebar_filter input[type='checkbox'].checkbox +label:before{display: inline-block; color:414141; content:'\f10c'; font-family: 'FontAwesome'; font-size: 12px; margin-left: 4px}
.catalog_sidebar .sidebar_filter input[type='checkbox'].checkbox:checked + label:before{content:'\f192';}
#filter_form .buki-btn {border:none; margin-top: 10px; height: 35px; line-height: 35px}

.dropdown-menu li a:hover, .dropdown-menu li a:focus{background: #e7eced !important}
.dropdown-toggle:hover{cursor: pointer;}

/* favorites */
.fav-container{position: absolute; top:13px; left:13px; color:#ffb703;}
.fav-container .fa{font-size: 18px}
.fav-container .heart-o{background: url(images/heart-o.png) no-repeat center center; display: block; width: 16px; height: 12px}
.fav-container .heart{background: url(images/heart.png)  no-repeat center center; display: block; width:16px; height: 12px}
.fav-container .heart-o:hover, .fav-container .heart:hover{cursor: pointer;}


/* Personal area */
/* -- Home */
.private_area_title h1{margin-top: 0; padding-bottom: 47px; line-height: 50px}
.private_area_title .buki-btn{height:35px; line-height: 35px}
.private-area-data {}
.private-area-data >.row{margin-right: 0; margin-left: 0}
.private-area-data>.row>.col-md-2, .private-area-data>.row>.col-md-10{padding-right: 0; padding-left: 0}
.private-area-data .nav ul {padding:0; list-style-type: none; width:100%;}
.private-area-data .nav li {height: 50px; line-height: 50px; background: #a9bdc4; padding-right: 20px; border-bottom: 1px solid rgba(255, 255, 255, 0.5)}
.private-area-data .nav li.current_page_item {background: #98aab1}
.private-area-data .nav li a{color:#fff;}
.private-area-data .nav li.current_page_item a{font-weight: bold}
.private-area-data .personal-data{padding-top: 33px; padding-right: 60px; background: rgba(255, 255, 255, 0.5); min-height: 200px}
.private-area-data .personal-data input{border:none; background: transparent; display: inline-block; margin-right: 7px; width:80%;}
.private-area-data .personal-data .password .fa:hover{cursor: pointer;}

.private-area-data .orders{background: rgba(255, 255, 255, 0.5); min-height: 200px}
.years-nav {background: rgba(255, 255, 255, 0.5); height: 50px; line-height: 50px}
.years-nav ul{list-style-type: none}
.years-nav li {display: inline-block; text-align: center; padding: 0 15px;}
.years-nav li.active a{ display: inline-block; background: #83949a; border-radius: 10px; font-weight: bold; color:#fff; font-size: 16px; height:20px; line-height: 20px; padding: 0 15px; }

.orders-table table {width:100%;}
.orders-table tbody tr:nth-child(odd) {background: rgba(255, 255, 255, 0.5);}
.orders-table td, .orders-table th{height:50px; line-height: 50px; padding-right: 3.5%}
.orders-table td a{color:#414141;}

/* orders */
.private_area_title h1{margin-top: 0; padding-bottom: 47px; line-height: 50px}
.private_area_title h1.bb.f-60{margin-bottom: 50px}
.btn-breadcrumb .btn:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-right: 10px solid rgba(255,255, 255, 0.5);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  right: 100%;
  z-index: 4;
  margin-right: -1px;
}
.btn-breadcrumb .btn:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-right: 10px solid #e6eef0;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  right: 0;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 23px 6px 24px; border:none;
  background: rgba(255, 255, 255, 0.5);
  color:rgba(65, 65, 65, 0.5);
}
.btn-breadcrumb .btn.btn-active{ background: #a9bdc4; color:#fff; }
/** Default button **/
.btn-breadcrumb .btn.btn-default:after {
  border-right: 10px solid rgba(255,255, 255,0.5);
}
.btn-breadcrumb .btn.btn-default:before {
  border-right: 10px solid #e6eef0;
}
.btn-breadcrumb .btn.btn-default:hover:after {
  border-right: 10px solid rgba(255,255, 255,0.5);
}
.btn-breadcrumb .btn.btn-default:hover:before {
  border-right: 10px solid #e6eef0;
}

/** Primary button **/
.btn-breadcrumb .btn.btn-active:after {
  border-right: 10px solid #a9bdc4;
}
.btn-breadcrumb .btn.btn-active:before {
  border-right: 10px solid #e6eef0;
}
.btn-breadcrumb .btn.btn-active:hover:after {
  border-right: 10px solid #a9bdc4;
}
.btn-breadcrumb .btn.btn-active:hover:before {
  border-right: 10px solid #e6eef0;
}

.title-line{border-top: 1px solid rgba(223, 229, 231, 1); border-bottom: 1px solid rgba(223, 229, 231, 1); 
	font-size: 16px; font-weight: 600; height: 45px; line-height: 45px}
.title-line span{width:13.2%; display: inline-block; margin-left: 1.4%}
.order_line {padding-top: 24px; border-bottom: 1px solid #a9bdc4; padding-bottom: 24px}
.order_line input, .order_line select{width:13.2%; background: #fff; border:none; height: 35px; line-height: 35px; 
	margin-left: 1%; vertical-align: top; border:1px solid #eee; padding : 0 5px;}
.title-line .prod_img, .order_line .prod_img {max-width: 10%; margin-left: 1%}
.order_line .code_w, .title-line .code_w{width:8%;}
.order_line .code{background: transparent;}
.order_line .alignleft {margin-top: -40px; line-height: 35px; height: 35px; width:30%;}
.order_line .alignleft.sec{width: 50%; margin-top: 20px}
.order_line .alignleft select{width:30%; background: #fff; border:none; height: 35px; line-height: 35px; 
	margin-left: 1%; vertical-align: top}
.order_line .alignleft>span{border-left: 1px solid rgba(172,172, 172, 0.5); padding:0 9px;}
.order_line .alignleft>span:last-child{border:none;}
.deleterow {color:#999; font-size: 12px; width:10%; float:left; text-align: center; position: relative; top:20px;}
.deleterow .fa{font-size: 20px}
.order_line .alignleft>span.amount_wrap{display: inline-block; vertical-align: middle; zoom: 1; /* Fix for IE7 */ *display: inline; /* Fix for IE7 */
	width:50px;position: relative; padding-right: 12px; background: #fff; height:35px; line-height: 35px; border-left: none}
.amount_wrap input{width:100%; border:none; text-align: center;}
.inc,.dec{position: absolute; right:4px; height:50%; }
.inc{top:0px;}
.inc .fa{position: relative; top:-4px;}
.dec{bottom: 0px}
.dec .fa{position: relative; top:-8px;}
.total_price{font-size: 20px; margin-top: 15px; display: inline-block; text-align: center; width:80px;}
.totals{border-top: 1px solid #a9bdc4; padding-top: 20px; padding-right: 59px}
.totals .buki-btn{margin-top: 30px; display: inline-block; line-height: 35px; height: 35px}
.buttom_line{padding-top: 12px; margin-top:5px; border-top: 1px solid #555; font-size: 16px}
#Addline{height:35px; line-height: 35px; margin-top: 50px; margin-bottom: 50px}
#order_submit:hover{cursor: pointer;}
.order-info .col-md-3 .inner{background: rgba(255,255,255,0.5); padding:20px; min-height: 360px}
.order-info .col-md-3 .inner label:first-child{margin-bottom: 17px}
#order_data input[type=text] {border:none; background: #fff; padding:0 5%; line-height: 35px; height: 35px}
#order_data textarea{background: #fff; border:none; height:100px; max-width: 100%}
#order_data input[type=checkbox]{display: none}
#order_data input[type=checkbox] + label{font-weight: normal; padding-right: 19px}
#order_data input[type=checkbox] + label{background: url(images/radio-btn-off.png) right center no-repeat;}
#order_data input[type=checkbox]:checked + label {background: url(images/radio-btn-on.png) right center no-repeat;}
#order_data .row_full {margin-right: 0; margin-left: 0}
#order_data .row_full .col-md-6, #order_data .row_full .col-md-9, #order_data .row_full .col-md-3{padding-right: 0; padding-left: 0}
#order_data input{max-width: 100%}
#order_data #supplydate{position: relative;}
#order_data #supplydate:before{font-family: 'FontAwesome'; content: '\f073'; font-size: 16px; display: block;
float:left; width: 20px; position: absolute; left:0; top:3px;}
#order_data .delivery_time input{max-width: 30px}
#ui-datepicker-div{box-shadow: -7.5px 13px 25px 0 rgba(3, 3, 3, 0.3); width:225px; background: #fff}
#ui-datepicker-div td{}
#ui-datepicker-div 	a.ui-state-default{color:#414141; font-size: 16px; text-decoration: none; display: inline-block; 
	margin:5px; width:22px; text-align: center;}
#ui-datepicker-div a.ui-state-active{color:#fff; background: #ffb703; border-radius: 50%}
.ui-datepicker-next {position: absolute; left:5px; top :5px; text-align: left}
.ui-datepicker-prev {position: absolute; right:5px; top :5px; text-align: right}
.ui-datepicker-next span{display: none}
.ui-datepicker-next:before{font-family: 'FontAwesome'; font-size: 16px; content:'\f0d9'; color:#555; display: block; width:20px; float:left;}
.ui-datepicker-prev span{display: none}
.ui-datepicker-prev:before{font-family: 'FontAwesome'; font-size: 16px; content:'\f0da'; color:#555; display: block; width:20px; float:right;}
.ui-datepicker-title{text-align: center; padding-top: 5px}

#order_data .totals{margin-top: 45px}

/* admin panel */
.page-template-admin-home .main-content{padding-top: 0}
.mng_inner {background: #fff; padding: 50px; margin-top: 100px}
.mng_inner h2{padding-bottom: 25px; margin-bottom: 30px}
.mng_inner a{color:#a9bdc4;}

/* users table */
#users_table_wrapper .top{margin-bottom: 15px}
#users_table{border:1px solid #999999;}
#users_table tr>td, #users_table tr>th {border:none; height: 52px; line-height: 52px; font-size: 16px}
#users_table>tbody>tr.even>td {background:rgba(223, 229, 231, 0.5) }
#users_table>tbody>tr.odd>td{background: rgba(255, 255, 255, 0.5)}
#users_table td:hover{cursor: pointer;}

.paginate_button.previous a, .paginate_button.next a {text-indent: -9999px; position: relative}
.pagination>li{display: inline-block; width:35px; text-align: center}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, 
	.pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover{background: transparent !important; }
.paginate_button.previous  a:after{font-family: 'FontAwesome'; display: block; width:50px; content:'\f105'; font-size: 18px; 
	text-indent: 0; position: absolute; top:5px; right:-20px;}
.paginate_button.next a:after{font-family: 'FontAwesome'; display: block; width:50px; content:'\f104'; font-size: 18px;
	text-indent: 0; position: absolute; top:5px; left:-20px;}
.pagination>li>a, .pagination>li>span{background: transparent; border:none; color:#999;}
.pagination .paginate_button.active a{background: #a9bdc4; border-radius: 50%}

.users_table_filter{display: none}
.dataTables_paginate {text-align: center !important;}
#users_table_length, #users_table_info, #orders_table_length, #orders_table_info{display: inline-block; margin-left: 10px;}

/* Single order */
.order_summery {background: rgba(255, 255, 255, 0.5); padding: 50px 5%;}
.order_summery .row span{display: block;}
.order_summery .date-col{padding-top: 6px}
.order_summery #order_data{padding-top: 26px; font-size: 14px}
#products_table{width:100%;}
#products_table td {border-bottom: 1px solid rgba(169,189,196, 0.5); padding: 30px 0; font-size: 18px; line-height: 34px; 
	vertical-align: top; }
#products_table td .prod_title{font-size: 24px; line-height: 34px; display: block; height: 34px}
#products_table span.label {font-size: 14px; color:#414141; font-weight: normal; line-height: 34px; 
		border-right: 1px solid rgba(169,189,196, 0.5); padding-right: 13px; display: inline-block; height: 34px}
#products_table img {max-height: 80px; width: auto}
#products_table thead {display: none}


.page-template-user-card .order_summery{margin-bottom: 40px}
/* orders */
#orders_table{border:1px solid #999999;}
#orders_table tr>td, #orders_table tr>th {border:none; height: 52px; line-height: 20px}
#orders_table>tbody>tr.even>td {background:rgba(223, 229, 231, 0.5) }
#orders_table>tbody>tr.odd>td{background: rgba(255, 255, 255, 0.5)}
.orders_filter p.bb{padding-bottom: 40px}
.sidebar_filter {border-bottom: 1px solid #a9bdc4; padding: 24px 0;}
.sidebar_filter:first-child {padding-top: 0}
.orders_filter .sidebar_filter:last-child{border-bottom:none;}


/* our products */
.product-full-line .fa-star-o {color:#a9bdc4; margin-left: 10px; font-size: 23px}
.product-full-line .fa-star {color:#FFB900; margin-left: 10px; font-size: 23px}
.product-full-line h2 {padding:0; margin:0;}
.product-full-line .col-md-1 {border-right: 1px solid #acacac}
.product-full-line .metadata span{display: inline-block; padding:0 5px; border-right: 1px solid #acacac}
.page-template-our-products .favorites_filter{display: none}
.page-template-my-favorites .featured_filter{display: none}

#myModal .fa{font-size: 30px; color:#a9bdc4;}
#myModal .modal-title{text-align: center;}
.modal { text-align: center; padding: 0!important; }
.modal:before {content: '';  display: inline-block; height: 100%; vertical-align: middle; margin-right: -4px;}
.modal-dialog {display: inline-block; text-align: left; vertical-align: middle;}
.modal-header .close {position: absolute; right:10px; top:10px; color:#46454b; opacity: 1}

/* Footer */
footer{background-color: #ffb703; color:#fff; padding-top: 50px; padding-bottom: 20px; font-size: 18px;}
#footer-logo{background: url(images/logo-white.png) right center no-repeat; width: 175px; height: 115px; display: block; margin-top: 20px}
footer a, footer a:hover{color:#fff;}
footer .title .fa{font-size: 50px}
footer .address{width:107px;}
footer div img{margin-bottom: 27px}
footer .contact{width:144px;}
footer .contact .fa{font-size: 14px}
footer .sitemap{width:78px;}
footer .sitemap .menu {list-style-type: none; padding:0;}
footer .social a, #footer .social a:hover{color:#fff; display: inline-block; margin-left: 40px}
footer .social a .fa {font-size: 24px}
#credits{background: #dda006; height: 75px; padding: 20px 0 5px; line-height: 35px; color:#fff;}
#credits .container{padding:0;}
#shaylogo{background: url(images/shay-footer-logo.png) center left no-repeat; overflow: hidden; display: inline-block; width: 159px; height: 35px; text-indent: 999px}


#login-box{width: 235px; height: 283px; background: #ffffff; box-shadow: 0px 10px 15px 0 rgba(3, 3, 3, 0.35); 
	display: none; position:fixed; padding: 20px; }
#login-box input {width:100%; border: solid 1px #cccccc; height: 40px; line-height: 40px; font-size: 14px; padding: 0 8px;}
#login-box input[type='submit'] {background: #ffb703; color:#fff; border:none}
#login-box p.contact, #login-box p.contact a{color: #555555;}
#login-box p.contact a{text-decoration: underline;}

#user_menu{width: 235px; height: 283px; background: #ffffff; box-shadow: 0px 10px 15px 0 rgba(3, 3, 3, 0.35);
	display: none; position:fixed; padding: 20px; z-index:99999;}
#user_menu ul{padding:0; margin:0; list-style-type: none}
#user_menu li {border-bottom: 1px solid rgba(169, 189, 196, 0.3); line-height: 45px; height: 45px; padding: 0 2px; width:100%;}
#user_menu a{color:#555;}
#user_menu li.yellowbg{margin-bottom: 15px}
#user_menu li.yellowbg a {color:#fff;}
/*
 == Quick CSS styling tips ==

 You can start off in a rough direction with some minimal styles.
 See below for some tips. ;)


 == Want to have the whole site wrapped? ==

 Just fill the .container class with some background color to have a the whole site "wrapped".
 This works so easy because every main part is wrapped only once into a container class by bootstrap.
 Try out by decommenting the next line and go from there.

 .container { background: #f9f9f9; border-right: 1px solid #eee; border-left: 1px solid #eee; }


 == Want to wrap just the content and sidebar in Bootstrap style? ==

 That one is a great example to show that some things are much cleaner and easier to do via just adding some HTML classes.
 In this case, we will add just one CSS class "panel", look for example at the beginning in content.php!


 == Infinite Scrolling by Jetpack ==
 You can enable this cool feature by simply decommenting the lines below and make sure you use the same classes on the right place in your html..

/* Globally hidden elements when Infinite Scroll is supported and in use.
 * Older / Newer Posts Navigation (the pagination, must always be hidden), Theme Footer only when set to scrolling.. */

/*
.infinite-scroll .page-links,
.infinite-scroll.neverending .site-footer {
	display: none;
}
*/

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */

/*
.infinity-end.neverending .site-footer {
	display: block;
}
*/

/* Hey, if you don't need my comments anymore, just delete me! :)  */


/* styles for _tk_pagination und _tk_link_pages */
nav form.tk-page-nav,
nav .input-group,
nav .input-group-btn,
nav .form-control {
    display: inline;
}



@media screen and (max-width: 767px) {
	body{padding-top: 114px}
	body.admin-bar{padding-top:100px;}
	.main-content{padding-top: 20px; padding-bottom: 20p}
	.container{width:100%; padding:0;}
	.page .main-content h1{line-height:80px; height:80px; background:#fff; text-align:center; 
		font-size:36px; border-top: 1px solid #a9bdc4;}
	.page  .main-content h1.bb.f-60{margin-bottom: 10px}
	.private-area-data .nav li{font-size: 30px; line-height: 100px; height: 100px}
	/*.container-fluid{padding-left:15px; padding-right:15px;}*/
	.col-xs-12 {float:none;}
	.site-navigation{padding:0; width:100%;}
	.navbar-toggle{position: absolute; top:0; right:10px; margin-top: 0}
	.navbar-collapse{padding:0;}
	#masthead {padding-bottom: 0}
	#masthead .navbar{min-height: 0}
	#masthead .buki-btn {width:50px; height: 50px; overflow:hidden;border-radius: 50%; margin-top: 0px; text-align: center;}
	#masthead .buki-btn .fa {font-size: 30px; line-height: 50px;}
	#masthead .buki-btn span{display: none;}
	/*#masthead .buki-btn:before{content:'\f007'; color:#fff; display: block; font-family: FontAwesome; font-size: 20px}*/
	.navbar-default .navbar-toggle{background: #ffb703; width: 50px; height: 50px; border:none; border-radius: 50%}
	.navbar-toggle .icon-bar{margin:0 auto; height: 4px}
	.navbar-default .navbar-toggle .icon-bar{background-color: #fff; }
	#masthead .buki-btn .extra{font-size: 14px !important}
	#main-menu li, #main-menu li:first-child{width:100%; margin-right: 4%}
	.site-title a {max-height: 103px; background-size: 103px; float:left; background-position: top left}
    .filter-container {width:100%; height: auto}
    .filter-container select, .filter-container input[type='text'] {width:100%;}
    .filter-container input[type='text']  {border:1px solid #A9A9A9}
    .filter-container button.buki-btn{width:100%; max-width: 264px}
    #main-filter {text-align: center;}
    #main-filter select, #main-filter input[type='text'] {margin-bottom: 20px; text-align: right}

    .top-cat .hover{opacity: 1}
    .bottom-contact h2{padding-top: 30px}
    .bottom-contact .wpcf7 input[type='submit']{width: 100%; float: none}
    .home .secline{height: auto}
    .home .secline .img2{width: 80%}
    #map iframe {width:100%; height:auto;}

    .arthead h1{font-size: 50px}
    .page-template-about .part2 .row{display: block;}
    .page-template-about .part2 .boxes img{width:100%; height: auto}
    .page-template-about .part2 .col-md-6{padding:50px 15px;}
    .about-btm-img {height: 500px}

	.product {height: 210px}
	.mobile-tagline {margin-bottom: 40px; border-bottom: 1px solid #a9bdc4; padding:10px 0; height: 70px; line-height: 50px}
	.mobile-tagline .col-xs-6:first-child {border-left: 1px solid #a9bdc4}
	.mobile-tagline .col-xs-6.f-30 {line-height: 50px !important}
	.mobile-tagline #sort_picker{margin-top: 10px; background:#dfe5e7; border:none; font-size: 20px}
	.mobile-tagline #sort_picker li {border-bottom:solid 1px #a9bdc4}
	.mobile-tagline #sort_picker li:last-child{border-bottom: none}

	#filter-modal{top:0; right:0;}
	#filter-modal.modal::before{display: none;}
	#filter-modal .modal-content {border-radius: 0; box-shadow: none; background:#dfe5e7;}
	table.dataTable.dtr-column > tbody > tr > td.control::before, table.dataTable.dtr-column > tbody > tr > th.control::before{
			left:35px !important; background: transparent !important; content: '\f107' !important; font-family: 'FontAwesome' !important; color:#414141 !important; 
			border:none !important; border-radius: 0 !important; box-shadow:none !important;}
	#orders_table {border:none;}
	.page-template-contact .part1 {padding-top: 15px}
	.page-template-contact .part1 .container {width: 100%}
	.page-template-contact .part1 h1{margin-bottom: 20px}
	.page-template-contact .form-wrap{margin-left: 0; padding: 10px}
	
	.order_line{background:#fff; margin-bottom: 10px; position: relative; padding:40px 10px;}
	.order_line .deleterow {position: absolute; top: 7px; left:14px; height: 20px; width:20px ; overflow: hidden;}
	.title-line .prod_img, .order_line .prod_img{max-width: 33%; display: block; float: right}
	.order_line input, .order_line select {display: block; float: left; width:60%; margin-bottom: 7px}
	.order_line .code {display: block; float: none; width:100%; text-align: center;}
	.order_line select.colors, .order_line select.open{width:45%; float: right;}
	.order_line .alignleft{float:none;}
	.order_line .boxes .col-xs-3, .order_line .boxes .col-xs-6 {padding-left: 0 !important; padding-right: 0 !important; text-align: center; font-size: 22px; border-left: 1px solid #acacac}
	.order_line .boxes .amount_wrap{padding: 0 5px;}
	.order_line .boxes .amount_wrap input{border: 1px solid #acacac}
	.order_line .boxes label{color:#acacac; font-size: 16px; font-weight: 300; display: block;}
	.order_line .boxes .amount_wrap, .order_line .boxes .amount_wrap input {line-height: 60px; margin-bottom: 0; height: 60px}
	.order_line .boxes .amount_wrap label {display: inline-block; font-size: 20px}
	.order_line .inc{top:2px; right:45%;}
	.order_line .inc .fa.fa-caret-up::before {content:'+';}
	.order_line .dec {right:auto; left:14px; top:5px;}
	.order_line .dec .fa.fa-caret-down::before {content:'-';}
	.order_line .pack_amount {display: block;}
	#Addline {width: 90%; display: block; margin: 0 auto; height: 60px; line-height: 60px; font-size: 22px}
    #footer-logo {margin: 0 auto 20px}
    footer .container{width: 90%}
    footer .col-xs-4 {margin-bottom: 20px}
    footer .col-xs-4 img {display: none}
}


@media print {
	#masthead {display: none}
	.whitebg {display: none}
	.site-footer{display: none}
	.orders_filter{display: none;}
	.col-md-10{float:none; width: 100%}
}